
$icon-icon1: "\EA01" !default;

$icon-icon2: "\EA02" !default;

$icon-icon3: "\EA03" !default;

$icon-icon4: "\EA04" !default;

$icon-icon5: "\EA05" !default;

$icon-icon6: "\EA06" !default;

$icon-icon7: "\EA07" !default;

$icon-icon8: "\EA08" !default;

$icon-icon9: "\EA09" !default;

$icon-logo: "\EA0A" !default;

$icon-mobile: "\EA0B" !default;

$icon-qwer: "\EA0C" !default;

$icon-settings: "\EA0D" !default;